@font-face {
    font-family: "cod";
    src: url(fonts/call_of_ops_duty/Call\ of\ Ops\ Duty.otf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    background-image: url(images/MWII-LAUNCH-INTEL-TOUT.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form > div{
display: flex;
margin-bottom: 10px;
flex-direction: column;
gap: 5px;
}

form{
    font-family: "c";
background-color: rgb(0, 0, 0);
padding: 10px;
border-radius: 20px;
margin-top: 10px;
box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.753);
}

h1{
    font-family: "cod";
    color: rgb(255, 255, 255);
    font-size: 80px;
    letter-spacing: 3px;
    -webkit-text-stroke: 2px black;
}

h3{
color: slategray;    
font-size: 12px;

}

div > input{
    font-family: "cod";
 height: 25px;   
 border: 1px solid rgb(192, 192, 192);
font-size: 20px;
}

div > input:focus{
    outline: 2px solid rgb(14, 151, 192);
}

form > input{
    font-family: "cod";
background-color: rgb(0, 255, 42);
width: 100%;
border-radius: 10px;
border: none;
height: 25px;
transition: background-color .3s ;
font-size: 18px;
}

form > input:hover{
    background-color: rgb(25, 197, 54);
    cursor: pointer;
}

form  label{
    font-size: 14px;
    color: rgb(255, 255, 255);
    
}